{% extends 'index.html' %}
{% load static from static %}

{% block content %}
    <form method="post" class="site-form has-text-centered has-background-light" style="margin-top: 70px">
        <div class="title is-size-2 has-text-centered">
            Sign up
        </div>
        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                <label for="{{ field.id_for_label }}" class="label">
                    {{ field.label }}
                </label>
                {{ field }}
            </div>
        {% endfor %}
        <button class="button is-success is-fullwidth" type="submit">Register</button>
        <p class="has-text-centered has-text-black mt-2">
            Already have an account?
            <br>
            <a href="{% url 'users:sign_in' %}">Move to login page</a>
        </p>
    </form>


{% endblock %}

