{% extends 'index.html' %}

{% block content %}
<form action="" class="site-form has-background-light" method="post">
    {% csrf_token %}
    <p class="title is-size-4 mb-4">
        Вы действительно хотите удалить комментарий?
    </p>
    <div class="has-text-centered">
        <button class="button is-success" type="submit">
            Подтвердить
        </button>
        <a href="{% url 'blog:article_detail' comment.article.slug%} " class="button is-danger">
            Отмена
        </a>
    </div>
</form>
{% endblock %}