{% extends 'index.html' %}
{% block content %}
<form class=" has-background-light site-form" method="post" enctype="multipart/form-data " style="margin-top: 100px">
    <div class="title is-2 has-text-centered">
        Изменить коментарий
    </div>
    {% csrf_token %}
    {{ form }}
    <div class="has-text-centered mt-4">
        <button class="button is-success" type="submit">
            Подтвердить
        </button>
        <a href="{% url 'blog:article_detail' article.slug %}" class="button is-danger">
            Отмена
        </a>
    </div>
</form>
{% endblock %}